<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.synergetic.Logging-Assistant-Flat"
        version   = "1.0.0">
    <name>Logging Assistant Flat</name>

    <description>
        Logging Assistant is a set of simple tools to aid Schlumberger Wireline Loggers.
    </description>

    <author href="http://www.synergetic-col.com" email="david@synergetic-col.com">
        Synergetic Designs
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

</widget>